GCtfFind

.idea

*.o

/FindCTF/.o
/MrcUtil/.o
/Util/*.o

#->These files are generated during the compilation. They come from .cu
FindCTF/GBackground1D.cpp
FindCTF/GCC1D.cpp
FindCTF/GCC2D.cpp
FindCTF/GCalcCTF1D.cpp
FindCTF/GCalcCTF2D.cpp
FindCTF/GCalcSpectrum.cpp
FindCTF/GRadialAvg.cpp
FindCTF/GRemoveMean.cpp
FindCTF/GRmBackground2D.cpp
FindCTF/GRoundEdge.cpp
FindCTF/GLowpass2D.cpp
FindCTF/GSpectralCC2D.cpp
Util/GAddImages.cpp
Util/GCalcMoment2D.cpp
Util/GNormalize2D.cpp
Util/GThreshold2D.cpp
Util/GFtResize2D.cpp
