<%- include('head', { title: 'VolWeb' }) -%>
    <script>
    </script>

    <h1>Vol Web</h1>
    <h2>Project <%= project.name %>:</h2>
    <p><b>Owner ID:</b> <%= project.userId %></p>

    <br />
    <br />
    <a href="/api/actions/list-models">Back to models list.</a>
<%- include('foot') -%>