MotionCor3

*.o

/FindCTF/.o
/MrcUtil/.o
/Util/*.o

Align/GCC2D.cpp
Align/GCorrelateSum2D.cpp
Align/GNormByStd2D.cpp
BadPixel/GCombineBadMap.cpp
BadPixel/GCorrectBad.cpp
BadPixel/GDetectHot.cpp
BadPixel/GDetectPatch.cpp
BadPixel/GLabelPatch.cpp
BadPixel/GLocalCC.cpp
Correct/GCorrectPatchShift.cpp
Correct/GStretch.cpp
Correct/GWeightFrame.cpp
EerUtil/GAddRawFrame.cpp
FindCtf/GCalcCTF1D.cpp
FindCtf/GCalcCTF2D.cpp
FindCtf/GCalcSpectrum.cpp
FindCtf/GCtfCC1D.cpp
FindCtf/GCtfCC2D.cpp
FindCtf/GRadialAvg.cpp
FindCtf/GRmBackground2D.cpp
FindCtf/GSpectralCC2D.cpp
MotionDecon/GDeconFrame.cpp
MotionDecon/GMotionWeight.cpp
MrcUtil/G4BitImage.cpp
MrcUtil/G90Rotate2D.cpp
MrcUtil/GApplyRefsToFrame.cpp
MrcUtil/GAugmentRef.cpp
MrcUtil/GFlip2D.cpp
MrcUtil/GInverse2D.cpp
Util/GAddFrames.cpp
Util/GCalcMoment2D.cpp
Util/GCorrLinearInterp.cpp
Util/GFFTUtil2D.cpp
Util/GFindMinMax2D.cpp
Util/GFourierResize2D.cpp
Util/GFtResize2D.cpp
Util/GNormalize2D.cpp
Util/GPad2D.cpp
Util/GPartialCopy.cpp
Util/GPhaseShift2D.cpp
Util/GPositivity2D.cpp
Util/GRoundEdge.cpp
Util/GThreshold2D.cpp
