dockerfiles

.vscode/
.idea
**/.env
**/.env.*
**/__pycache__
**/dist
**/node_modules
**/build

server/database/*
server/logs/*
server/data/*
server/.module-cache/*
server/openapi.yaml
.venv/

**/*.sqlite3
**/*.sqlite
**/*.sqlite-journal

**/temp/

server/modules/Proximal_CryoET/CUDA_PROXIMAL_SART/build
server/modules/ilastik/*
server/modules/imod/*