[submodule "modules/nano-oetzi"]
	path = modules/nano-oetzi
	url = https://github.com/nanovis/nano-oetzi.git
	branch = web-server
[submodule "client"]
	path = client
	url = https://github.com/CirilBohak/VolWeb-UI.git
