node_modules
.vs
db.json
/data/
/logs/
.idea
/cache/
*.sqlite3
*.sqlite
*.sqlite-journal
.env
/prisma/migrations/
.vscode/
.venv/
/temp/
/modules/ilastik
!/modules/.gitkeep
!/modules/nano-oetzi

sessions/*.db
sessions/*.db-shm
sessions/*.db-wal