node_modules
.vs
db.json
/data/
/logs/
.idea
/cache/
*.sqlite3
*.sqlite
*.sqlite-journal
.env
.vscode/
.venv/
/temp/
/modules/ilastik/*
!/modules/ilastik/.gitkeep
!/modules/nano-oetzi
/modules/imod/*
!/modules/imod/.gitkeep
python-scripts/__pycache__

sessions/*.db
sessions/*.db-shm
sessions/*.db-wal