src/routes/api/projects.mjs
data/
demo/
logs/
modules/
node_modules/
sessions/
transfer-functions/
*.json
*.log
*.sh
*.yaml
*.yml
*.md

!package.json
!tsconfig*.json
!nodemon.json
!jsconfig.json
!config.json