<%- include('head', { title: 'VolWeb' }) -%>

    <h1>Vol Web</h1>
    <h2>Actions:</h2>
    <ul>
        <li>
            <a href="/api/actions/who-am-i">Who am I?</a>
        </li>
        <li>
            <a href="/api/actions/python-version">Python version</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
    <h3>Ilastik actions:</h3>
    <ul>
        <li>
            <a href="/api/actions/ilastik-version">Ilastik version</a>
        </li>
    </ul>
    <h3>Projects:</h3>
    <ul>
        <li>
            <a href="/api/actions/projects/">Projects</a>
        </li>
        <li>
            <a href="/api/actions/projects/create-project">Create New Project</a>
        </li>
    </ul>
<%- include('foot') -%>