<%- include('head', { title: 'VolWeb' }) -%>

    <h1>Vol Web</h1>
    <h2>Actions:</h2>
    <ul>
        <li>
            <a href="/api/actions/who-am-i">Who am I?</a>
        </li>
        <li>
            <a href="/api/actions/python-version">Python version</a>
        </li>
        <li>
            <a href="/api/actions/file-upload">Upload a file</a>
        </li>
        <li>
            <a href="/api/actions/list-uploaded-files">List uploaded files</a>
        </li>
        <li>
            <a href="/api/actions/projects/">Projects</a>
        </li>
        <li>
            <a href="/api/actions/projects/create-project">Create New Project</a>
        </li>
        <li>
            <a href="/logout">Logout</a>
        </li>
    </ul>
    <h3>Ilastik actions:</h3>
    <ul>
        <li>
            <a href="/api/actions/ilastik-version">Ilastik version</a>
        </li>
    </ul>
    <h3>Vorecem actions:</h3>
    <ul>
        <li>
            <a href="/api/actions/vorecem-inference">Vorecem inference</a>
        </li>
        <li>
            <a href="/api/actions/vorecem-status">Vorecem status</a>
        </li>
    </ul>
    <h3>Model related actions:</h3>
    <ul>
        <li>
            <a href="/api/actions/create-model">Create a model</a>
        </li>
        <li>
            <a href="/api/actions/list-models">List models</a>
        </li>
    </ul>

<%- include('foot') -%>