<%- include('head', { title: 'VolWeb' }) -%>

    <h1>Vol Web</h1>
    <h2>Create Model:</h2>
    <form action="/api/actions/create-model" method="post" enctype="multipart/form-data">
        <label for="name">Model name:</label>
        <input type="text" name="name" /> <br />
        <br />
        <label for="name">Model description:</label>
        <textarea name="description" rows="4" cols="25"></textarea> <br />
        <br />
        <input type="submit" value="Create" />
    </form>

<%- include('foot') -%>