[submodule "modules/nano-oetzi"]
	path = modules/nano-oetzi
	url = ../nano-oetzi
	branch = web-server
[submodule "modules/Proximal_CryoET"]
	path = modules/Proximal_CryoET
	url = ../../Scurek/Proximal_CryoET
[submodule "modules/gctffind"]
	path = modules/gctffind
	url = ../../Scurek/GCtfFind
	branch = bugfixes
[submodule "modules/motioncor3"]
	path = modules/motioncor3
	url = ../MotionCor3
	branch = bugfixes
