node_modules
dist/
.vs
db.json
/database/*
/logs/*
/data/*
.idea
/cache/
*.sqlite3
*.sqlite
*.sqlite-journal
.env
.vscode/
.venv/
/temp/
/modules/ilastik/*
!/modules/nano-oetzi
/modules/imod/*
python-scripts/__pycache__
!.gitkeep
openapi.yaml

sessions/*.db
sessions/*.db-shm
sessions/*.db-wal